.container {
	position: relative;

	.progress_container {
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.head {
		position: relative;
		display: flex;
		padding: 3rem;
		background-color: var(black);

		.head_gradient {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: linear-gradient(
			67.37deg,
			#f7f8f9 29.63%,
				#e2eff7 51.55%,
				rgb(206, 235, 248) 90.85%
			  );	}
			background-image: url(''); /* Initially set to an empty string */
		.backgroundImg {
			width: 100%;
			max-width: 300px;
			height: auto;
			box-shadow: 0 4px 20px 	rgb(124 58 237);
			z-index: 9999;
		}

		.playlist_info {
			align-self: flex-end;
			margin-left: 2rem;
			z-index: 9999;
			
			.artist_avatar {
				width: 50px; /* Adjust size as needed */
				height: 50px; /* Adjust size as needed */
				border-radius: 50%; /* Makes the image circular */
				overflow: hidden; /* Clips the image to the specified border-radius */
				margin-right: 1.5rem; /* Add spacing between avatar and text */
			  }
			  
			  .avatar_img {
				width: 100%; /* Fills the container */
				height: 100%; /* Fills the container */
				object-fit: cover; /* Scales the image proportionally */
			  }
			  
			  .default_avatar {
				width: 50px; /* Adjust size as needed */
				height: 50px; /* Adjust size as needed */
				border-radius: 50%; /* Makes the placeholder circular */
				background-color: #ccc; /* Placeholder background color */
				/* You can add other styles for a default avatar, like text or an icon */
			  }
			h1 {
				font-size: 5rem;
				margin-bottom: 0.5rem;
				margin-top: 1rem;
				font-weight: bold;
			}

			p {
				font-size: 1.2rem;
				margin: 0;
				text-transform: uppercase;
				margin-right: 1.5rem; /* Add spacing between items */
			  }
			
			  span {
				font-size: 1.2rem;
				margin-top: 0.5rem;
				margin-right: 1.5rem; /* Add spacing between items */
				margin-bottom: 1rem;
			  }
		}

		.actions_container {
			position: absolute;
			top: 0;
			right: 0;
			padding: 2rem;

			svg {
			    width: 2rem;
      height: 2rem;
      color: #333;
			}
		}
	}
	.body {
		padding: 1rem 3rem;
		.body_nav {
			display: flex;
			justify-content: space-between;
			padding: 1rem 0;
			color: var(black);
			font-size: 1.4rem;
			text-transform: uppercase;
			border-bottom: 1px solid var(--light-white);
			margin-bottom: 1rem;

			.left {
				display: flex;
				flex: 1;
				padding-left: 2rem;

				span {
					margin-right: 1rem;
				}

				p {
					margin: 0;
				}
			}

			.center {
				flex: 1;
				display: flex;
				justify-content: center;

				p {
					margin: 0;
				}
			}

			.right {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				padding-right: 4rem;

				svg {
					width: 2rem;
					height: 2rem;
				}
			}
		}
	}
}